<h1>商品新規登録</h1>
<%= form_with model: @item, url: admin_items_path, local: true do |f| %>

    <th>商品画像</th>
    <%= f.file_field :image, accept: "image/*" %><br>

    <th>商品名</th>
    <%= f.text_field :name %><br>

    <tr>商品説明</tr>
    <%= f.text_area :introduction %><br>

    <tr>ジャンル</tr>
    <%= f.text_field :genre_id %><br>

    <tr>税抜価格</tr>
    <%= f.text_field :price %><br>

    <tr>販売ステータス</tr>
    <br>

    <%= f.submit '新規登録', class: "btn-success" %>

<% end %>